
@import 'reset-min.css';

.round {-webkit-border-radius: 0.5em; -moz-border-radius: 0.5em;}

html {
    font-family: Verdana, sans;
    background-color: #f5e548;
}

a {text-decoration: none; color: black;}
h1, h2, h3 {color: #5D6A8C;}


h1 {font-size: 200%; margin: 0.5em 0;}

.page {
    width: 760px;
    margin: 0 auto;
}

.post .body {
    font-family: Garamond;
}

.actions {width: 100%; overflow: hidden;}
.actions a {display: block; float: left; padding: 0.5em 1em; margin-right: 1em;
           background-color: #B1A743; .round;}
.actions a:hover {color: white;}
form p {
    font-family: Verdana, sans;
    width: 100%; overflow: hidden; margin: 0.5em 0;}

form p input[type=text] {width: 80%; padding: 2px; border: 1px solid black;}
form p input[type=submit] {margin-right: 1em;}
form p label {display: block;}

table {width: 100%; margin: 1em 0;}
table a {text-decoration: underline;}